rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Critical_Alerts/{document} {
      // السماح بالقراءة والكتابة للجميع (للاختبار فقط)
      allow read, write: if true; 
    }
  }
}