@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 216 20% 90%;
    --foreground: 240 10% 3.9%;
    --card: 216 20% 97%;
    --card-foreground: 240 10% 3.9%;
    --popover: 216 20% 97%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 239 52% 37%;
    --primary-foreground: 0 0% 98%;
    --secondary: 216 20% 85%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 216 20% 85%;
    --muted-foreground: 240 5.9% 25%;
    --accent: 180 100% 50%;
    --accent-foreground: 239 52% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 20% 80%;
    --input: 216 20% 80%;
    --ring: 239 52% 47%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 239 52% 20%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 180 100% 50%;
    --sidebar-primary-foreground: 239 52% 10%;
    --sidebar-accent: 239 52% 30%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 239 52% 25%;
    --sidebar-ring: 180 100% 50%;
  }
  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 180 100% 50%;
    --primary-foreground: 239 52% 10%;
    --secondary: 240 10% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 10% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 239 52% 37%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 18%;
    --input: 240 10% 18%;
    --ring: 180 100% 50%;
    --sidebar-background: 240 10% 8%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 180 100% 50%;
    --sidebar-primary-foreground: 239 52% 10%;
    --sidebar-accent: 240 10% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 10% 12%;
    --sidebar-ring: 180 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
